@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

html {
    font-family: 'Roboto';
    background-color: #1F2937;
    color: white;
  }
  
  table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 0.8rem;
    background: #323232;
    width: min(100%, 800px);
    margin: auto;
    
  }
  tr {
    border-radius: 5px;
  }
  
  caption, td, th {
    padding: 1rem;
  }
  
  th {
    background-color: rgb(12, 1, 37);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: hsl(0 0% 0% / 0.3);
  }
  
  tr:nth-child(odd) td {
    background-color: hsl(0 0% 0% / 0.1);
  }
  

  td.highlight {
    background-color: rgb(2, 99, 2) !important;
    font-weight: bold;
  }

  .hidden {
    display: none;
  }

  @media (max-width: 600px) {
    td {
      display: grid;
      grid-template-columns: 25ch auto;
    }
    th {
      display: none;
    }
    td::before {
      content: attr(data-cell);
    }
    tr:last-child > td::before {
      content: "";
    }
    td:first-child {
      background-color: rgb(12, 1, 37) !important;
      font-weight: bold;
      padding-top: 1rem;

    }
  }